name: Update Leaderboard

permissions:
  contents: write

on:
  push:
    branches:
      - main

jobs:
  leaderboard:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Calculate score
        id: score
        run: |
          SCORE=0
          USER="${{ github.actor }}"

          # Base points
          SCORE=$((SCORE + 2))

          # Files changed in last commit
          FILES=$(git diff --name-only HEAD~1 HEAD)

          # README check
          if echo "$FILES" | grep -qi "README.md"; then
            SCORE=$((SCORE + 4))
          fi

          # screenshots check
          if echo "$FILES" | grep -qi "screenshots/"; then
            SCORE=$((SCORE + 5))
          fi

          echo "final_score=$SCORE" >> $GITHUB_OUTPUT

      - name: Update leaderboard
        run: |
          USER="${{ github.actor }}"
          SCORE="${{ steps.score.outputs.final_score }}"
          FILE="LEADERBOARD.md"

          if grep -q "| $USER |" "$FILE"; then
            awk -v user="$USER" -v score="$SCORE" '
              $0 ~ "\\| "user" \\|" {
                split($0,a,"|");
                total=a[3]+score;
                print "| "user" | "total" " |";
                next
              }
              { print }
            ' "$FILE" > temp && mv temp "$FILE"
          else
            echo "| $USER | $SCORE |" >> "$FILE"
          fi

      - name: Commit leaderboard update
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add LEADERBOARD.md
          git commit -m "chore: update leaderboard" || echo "No changes"
          git push
